.sidemenu {
    width: 15%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--green-bg);

    border-radius: 10px;
}

.sidemenu__header {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--green-bg-dark);
}

.username {
    max-width: calc(100% - 2rem);
}

.username > h3 {
    font-weight: 400;
}


