/* Padding on whole screen, standard height size */
body {
    padding: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column;
    height: calc(98vh - 5rem);
}

#app {
    height: 100%;
}

button {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
}

:root {
    --green-bg: #d0e5d4;
    --green-bg-dark: #8bb292;
    --green-bg-light: #eff8f0;
    --border-color: #012206;

    --primary-color: #007bff;
    --primary-border-color: #0056b3;
    --primary-hover-bg: #0056b3;
    --primary-hover-border: #003f7f;

    --danger-color: #dc3545;
    --danger-border-color: #a71d2a;
    --danger-hover-bg: #a71d2a;
    --danger-hover-border: #7a141f;

    --secondary-color: #6c757d;
    --secondary-border-color: #545b62;
    --secondary-hover-bg: #545b62;
    --secondary-hover-border: #3e444a;
}

/* button coloring classes */

.btn-primary {
    color: #ffffff;
    background-color: var(--primary-color);
    border-color: var(--primary-border-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover-bg);
    border-color: var(--primary-hover-border);
}

.btn-danger {
    color: #ffffff;
    background-color: var(--danger-color);
    border-color: var(--danger-border-color);
}

.btn-danger:hover {
    background-color: var(--danger-hover-bg);
    border-color: var(--danger-hover-border);
}

.btn-secondary {
    color: #ffffff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-border-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover-bg);
    border-color: var(--secondary-hover-border);
}