/* Apply padding to the whole screen */
body {
    padding: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

/* Style for buttons */
button {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
}