.task-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 1rem;

    margin-bottom: 1rem;
}

.no-tasks {
    text-align: center;
    color: #999;
    font-size: 1.2rem;
}
